<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <form role="form" method="post" th:object="${warehouseFormDTO}">

                <p class="h2">
                    창고 등록
                </p>

                <input type="hidden" th:field="*{id}">

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">이름</span>
                    </div>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="창고의 이름을 입력하세요">
                </div>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">위치</span>
                    </div>
                    <input type="text" th:field="*{location}" class="form-control" placeholder="창고의 위치를 입력하세요">
                </div>
                <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="fieldError">Incorrect data</p>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">전화번호</span>
                    </div>
                    <input type="number" th:field="*{phone}" class="form-control" placeholder="창고의 전화번호를 입력하세요">
                </div>
                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="fieldError">Incorrect data</p>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">이메일</span>
                    </div>
                    <input type="email" th:field="*{email}" class="form-control" placeholder="창고의 이메일을 입력하세요">
                </div>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>

                <button th:if="${#strings.isEmpty(warehouseFormDTO.id)}" th:formaction="@{/warehouse/create}" type="submit" class="btn btn-primary">등록</button>
                <button th:unless="${#strings.isEmpty(warehouseFormDTO.id)}" th:formaction="@{/warehouse/update}" type="submit" class="btn btn-primary">수정</button>
                <button th:onclick="window.location.href='/warehouse/list';" type="button" class="btn btn-primary">취소</button>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
        </div>
    </div>

</div>

</html>