<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function confirmRequest(request) {
            var yes = confirm("발주를 승인하겠습니까?\n\n재료: "+request.ingredientName+" 수량: "+request.amount+" 가맹점: "+request.storeName+" 창고: "+request.warehouseName);
            if (!yes) {
                return false;
            }
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/request/confirm/" + request.id;
            var paramData = {
                id : request.id,
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function (xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function (result, status){
                    alert("발주를 승인하였습니다.");
                    location.href='/request/list/' + [[${page}]];
                },
                error : function (jqXHR, status, error){
                    alert(jqXHR.responseText);
                    location.href='/request/list/' + [[${page}]];
                }
            });
            return true;
        }
        function rejectRequest(request) {
            var yes = confirm("발주를 반려하겠습니까?\n\n재료: "+request.ingredientName+" 수량: "+request.amount+" 가맹점: "+request.storeName+" 창고: "+request.warehouseName);
            if (!yes) {
                return false;
            }
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/request/reject/" + request.id;
            var paramData = {
                id : request.id,
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function (xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function (result, status){
                    alert("발주를 반려하였습니다.");
                    location.href='/request/list/' + [[${page}]];
                },
                error : function (jqXHR, status, error){
                    alert(jqXHR.responseText);
                    location.href='/request/list/' + [[${page}]];
                }
            });
            return true;
        }
        function cancelRequest(request) {
            var yes = confirm("발주를 취소하겠습니까?\n\n재료: "+request.ingredientName+" 수량: "+request.amount+" 가맹점: "+request.storeName+" 창고: "+request.warehouseName);
            if (!yes) {
                return false;
            }
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/request/cancel/" + request.id;
            var paramData = {
                id : request.id,
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function (xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function (result, status){
                    alert("발주를 취소하였습니다.");
                    location.href='/request/list/' + [[${page}]];
                },
                error : function (jqXHR, status, error){
                    alert(jqXHR.responseText);
                    location.href='/request/list/' + [[${page}]];
                }
            });
            return true;
        }

        function refresh(id){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var url = "/request/"+ id +"/refresh";

            $.ajax({
                url : url,
                type : "POST",
                contentType: "application/json",
                dataType: "text",
                beforeSend : function (xhr){
                    xhr.setRequestHeader(header, token);
                },
                success: function (fragment, status, xhr) {
                    $("#request-data").replaceWith(fragment);
                }
            });
        }
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        /*img:hover.hv {
        width:20px;
        transform:scale(1.5);
        transition: transform.5s;
        }*/
        img.hv{
            margin-left: 5px;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div class="card">
        <div class="card-body" id="request-data">
            <div class="d-flex align-items-center mb-4">
                <h4 class="card-title">발주 내역</h4>
                <div class="ml-auto">
                </div>
            </div>

            <form role="form" method="get" th:object="${requests}">
                <div class="table-responsive">
                    <table class="table no-wrap v-middle mb-0">
                        <thead>
                        <tr class="border-0">
                            <td class="font-14 font-weight-medium text-muted">ID<img class="hv" th:src="@{/kokeetea/pngwing.com.png}" alt="" onclick="refresh('id')" width="10"></td>
                            <td class="font-14 font-weight-medium text-muted">날짜<img class="hv" th:src="@{/kokeetea/pngwing.com.png}" alt="" onclick="refresh('date')" width="10"></td>
                            <td class="font-14 font-weight-medium text-muted px-2">재료<img class="hv" th:src="@{/kokeetea/pngwing.com.png}" alt="" onclick="refresh('ingredient')" width="10"></td>
                            <td class="font-14 font-weight-medium text-muted">수량<img class="hv" th:src="@{/kokeetea/pngwing.com.png}" alt="" onclick="refresh('amount')" width="10"></td>
                            <td class="font-14 font-weight-medium text-muted">가맹점<img class="hv" th:src="@{/kokeetea/pngwing.com.png}" alt="" width="10" onclick="refresh('store')"></td>
                            <td class="font-14 font-weight-medium text-muted">창고<img class="hv" th:src="@{/kokeetea/pngwing.com.png}" alt="" width="10" onclick="refresh('warehouse')"></td>
                            <td class="font-14 font-weight-medium text-muted">상태<img class="hv" th:src="@{/kokeetea/pngwing.com.png}" alt="" width="10" onclick="refresh('status')"></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="request, status: ${requests.getContent()}">
                            <td class="text-muted px-2 py-4 font-14" th:text="${request.id}"></td>
                            <td class="text-muted px-2 py-4 font-14">
                                <a th:href="'/request/'+${request.id}" th:text="${request.date}"></a>
                            </td>
                            <td class="text-muted px-2 py-4 font-14" th:text="${request.ingredientName}"></td>
                            <td class="text-muted px-2 py-4 font-14" th:text="${request.amount}"></td>
                            <td class="text-muted px-2 py-4 font-14" th:text="${request.storeName}"></td>
                            <td class="text-muted px-2 py-4 font-14" th:text="${request.warehouseName}"></td>
                            <td class="text-muted px-2 py-4 font-14" th:text="${request.status}"></td>
                            <td class="text-muted px-2 py-4 font-14">
                                <input th:if="${request.canConfirm}" type="button" class="btn btn-primary" value="승인" th:onclick="confirmRequest([[${request}]])">
                                <input th:if="${request.canReject}" type="button" class="btn btn-primary" value="반려" th:onclick="rejectRequest([[${request}]])">
                                <input th:if="${request.canCancel}" type="button" class="btn btn-primary" value="취소" th:onclick="cancelRequest([[${request}]])">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:with="start=${(requests.number/maxPage)*maxPage + 1}, end=(${(requests.totalPages == 0) ? 1 : (start + (maxPage - 1) < requests.totalPages ? start + (maxPage - 1) : requests.totalPages)})" >
                    <ul class="pagination justify-content-center">

                        <li class="page-item" th:classappend="${requests.first}?'disabled'">
                            <a th:href="'/request/list/' + ${requests.number}" aria-label='Previous' class="page-link">
                                <span aria-hidden='true'>Previous</span>
                            </a>
                        </li>

                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${requests.number eq page-1}?'active':''">
                            <a th:href="'/request/list/' + ${page}" th:inline="text" class="page-link">[[${page}]]</a>
                        </li>

                        <li class="page-item" th:classappend="${requests.last}?'disabled'">
                            <a th:href="'/request/list/' + ${requests.number+2}" aria-label='Next' class="page-link">
                                <span aria-hidden='true'>Next</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </form>
        </div>
    </div>

</div>

</html>