<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <div class="card">
        <div class="card-body">

            <form role="form" method="post" th:object="${ingredientFormDTO}">

                <p class="h2">
                    재료 등록
                </p>

                <input type="hidden" th:field="*{id}">

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">이름</span>
                    </div>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="재료의 이름을 입력하세요">
                </div>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">가격</span>
                    </div>
                    <input type="number" th:field="*{price}" class="form-control" placeholder="재료의 가격을 입력하세요">
                </div>
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError">Incorrect data</p>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">분류</span>
                    </div>
                    <select th:field="*{categoryId}" class="form-control">
                        <option th:value="${null}" th:text="미배정" selected></option>
                        <option th:value="${category.id}" th:text="${category.name}" th:each="category : ${categories}"></option>
                    </select>
                </div>
                <p th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" class="fieldError">Incorrect data</p>

                <button th:if="${#strings.isEmpty(ingredientFormDTO.id)}" th:formaction="@{/ingredient/create}" type="submit" class="btn btn-primary">등록</button>
                <button th:unless="${#strings.isEmpty(ingredientFormDTO.id)}" th:formaction="@{/ingredient/update}" type="submit" class="btn btn-primary">수정</button>
                <button th:onclick="window.location.href='/ingredient/list';" type="button" class="btn btn-primary">취소</button>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
        </div>
    </div>

</div>

</html>
