<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="aside">
  <aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="sidebar-item"> <a class="sidebar-link sidebar-link" th:href="@{/}"
                                       aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                  class="hide-menu">창고 재고 현황</span></a></li>
          <li class="list-divider" style="margin-top:20px;"></li>
          <li class="list-divider" style="margin-top:20px;"></li>
          <li class="nav-small-cap"><span class="hide-menu">Components</span></li>

          <li class="sidebar-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
            <a class="sidebar-link" href="@{/ingredient/list}"
               aria-expanded="false">
              <i data-feather="grid" class="feather-icon"></i>
              <span class="hide-menu">재료 관리</span></a>
          </li>
          <li class="sidebar-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"> <a class="sidebar-link" th:href="@{/category/list}"
                                                                                     aria-expanded="false"><i data-feather="bar-chart" class="feather-icon"></i><span
                  class="hide-menu">분류 관리</span></a>
          </li>
          <li class="sidebar-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"> <a class="sidebar-link" th:href="@{/store/list}"
                                                                                     aria-expanded="false"><i data-feather="box" class="feather-icon"></i><span
                  class="hide-menu">가맹점 관리</span></a>
          </li>
          <li class="sidebar-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"> <a class="sidebar-link sidebar-link" th:href="@{/warehouse/list}"
                                                                                     aria-expanded="false"><i data-feather="sidebar" class="feather-icon"></i><span
                  class="hide-menu">창고 관리
                                  </span></a>
          </li>
          <li class="sidebar-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"> <a class="sidebar-link sidebar-link" th:href="@{/supplier/list}"
                                                                                     aria-expanded="false"><i data-feather="sidebar" class="feather-icon"></i><span
                  class="hide-menu">공급사 관리
                                  </span></a>
          </li>

          <li class="list-divider" style="margin-top:30px;"></li>

          <li class="nav-small-cap"><span class="hide-menu">Authentication</span></li>
          <li class="sidebar-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"> <a class="sidebar-link sidebar-link" th:href="@{/request/list}"
                                                                                     aria-expanded="false"><i data-feather="lock" class="feather-icon"></i><span
                  class="hide-menu">발주 내역
                                  </span></a>
          </li>

          <li class="sidebar-item" sec:authorize="hasAnyAuthority('ROLE_USER')">
            <a class="sidebar-link sidebar-link" th:href="@{/request/create}" aria-expanded="false">
              <i data-feather="lock" class="feather-icon"></i><span class="hide-menu">발주 요청</span></a>
          </li>

          <li class="sidebar-item" sec:authorize="hasAnyAuthority('ROLE_USER')"> <a class="sidebar-link has-arrow" th:href="@{/request/mylist}"
                                                                                    aria-expanded="false"><i data-feather="feather" class="feather-icon"></i><span
                  class="hide-menu">발주 내역
                                  </span></a>
          </li>

          <li class="sidebar-item" sec:authorize="isAuthenticated()"> <a class="sidebar-link" th:href="@{/member/logout}"
                                                                         aria-expanded="false"><i data-feather="crosshair" class="feather-icon"></i><span
                  class="hide-menu">로그아웃</span></a>
          </li>
          <li class="list-divider"></li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
</div>

</html>