<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<th:block layout:fragment="script">
    <script>

        $(function(){
            var coff_avg = 0;
            var hongtea_avg = 0;
            var greentea_avg = 0;
            var milk_avg = 0;
            var choco_avg = 0;
            var sinamon_avg = 0;
            var honey_avg = 0;
            var orange_avg = 0;
            var graf_avg = 0;
            var banana_avg = 0;

            var coff_count = 0;
            var hongtea_count= 0;
            var greentea_avg = 0;

            var month_count = 0;
            var ten_mon = 0;
            var nine_mon= 0;
            var eight_mon=0;
            var seven_mon=0;
            var six_mon=0;
            var five_mon=0;
            var mean_mon=0;

            var avg_70 = 0;
            var avg_71 = 0;
            var avg_72 = 0;
            var avg_73 = 0;
            var avg_74 = 0;
            var avg_75 = 0;
            var avg_76 = 0;
            var avg_77 = 0;
            var avg_78 = 0;
            var avg_79 = 0;
            var store_total=0;

            var current_count = 0;
            var current_store = 0;

            var last_mon_avg = 0;
            var last_mon_per = 0;

            var mon_line_10 = 0;
            var mon_line_09 = 0;
            var mon_line_08 = 0;
            var mon_line_07 = 0;
            var mon_line_06 = 0;
            var mon_line_05 = 0;
            var mon_line_04 = 0;
            var mon_line_03 = 0;


            $("#line_click").click(function () {
                console.log("click");
                line_click();
            });

            //재료 평균
            $.ajax({
                url: "ingredindAvg",
                type: "GET",
                dataType:"json",
                cache   : false,
                success: function(result,status){
                    coff_avg = result[0];
                    hongtea_avg = result[1];
                    greentea_avg = result[2];
                    milk_avg = result[3];
                    choco_avg = result[4];
                    sinamon_avg = result[5];
                    honey_avg = result[6];
                    orange_avg = result[7];
                    graf_avg = result[8];
                    banana_avg = result[9];

                    google.charts.load("current", {packages:["corechart"]});
                    google.charts.setOnLoadCallback(drawChart2);
                },
                error: function(jqXHR, status, error){
                    alert("주문이 실패하였습니다."+ jqXHR.responseText);
                }
            });

            //재료 건수
            $.ajax({
                url: "ingredindCount",
                type: "GET",
                dataType:"json",
                cache   : false,
                success: function(result,status){
                    coff_count = result[7];
                    hongtea_count= result[1];
                    greentea_avg = result[2];

                    $("#coff").html(coff_count+" 건")
                    $("#hong").html(hongtea_count+" 건")
                    $("#green").html(greentea_avg+" 건")
                },
                error: function(jqXHR, status, error){
                    alert("주문이 실패하였습니다."+ jqXHR.responseText);
                }
            });

            //월별 건수
            $.ajax({
                url: "monthCount",
                type: "GET",
                dataType:"json",
                cache   : false,
                success: function(result,status){
                    nine_mon= parseFloat(result[1]);
                    eight_mon=parseFloat(result[2]);
                    seven_mon=parseFloat(result[3]);
                    six_mon=parseFloat(result[4]);
                    five_mon=parseFloat(result[5]);
                    ten_mon = parseFloat(result[0]);
                    mean_mon = ((nine_mon+eight_mon+seven_mon+six_mon+five_mon+ten_mon)/6).toFixed(2)
                    $("#month_count").html(mean_mon)

                    google.charts.load("current", {packages:["corechart"]});
                    google.charts.setOnLoadCallback(drawChart1);
                },
                error: function(jqXHR, status, error){
                    alert("주문이 실패하였습니다."+ jqXHR.responseText);
                }
            });


            //금일발주 건수
            $.ajax({
                url: "http://210.117.212.139:5000/todayCount",
                type: "GET",
                dataType:"json",
                cache   : false,
                success: function(result,status){
                    current_count = result[0][0][0];
                    current_store = result[0][0][1];
                    $("#current_count").html(current_count);
                    $("#current_store").html(current_store);
                    console.log(result)
                },
                error: function(jqXHR, status, error){
                    alert("금일발주 건수가 실패하였습니다."+ jqXHR.responseText);
                }
            });

            //마지막월 평균 발주
            $.ajax({
                url: "http://210.117.212.139:5000/getMonth",
                type: "GET",
                dataType:"json",
                cache   : false,
                success: function(result,status){
                    last_mon_avg = result[0];
                    last_mon_per = result[1];
                    $("#last_mon_per").html(last_mon_per);
                    $("#last_mon_avg").html(last_mon_avg+"%");
                },
                error: function(jqXHR, status, error){
                    alert("금일발주 건수가 실패하였습니다."+ jqXHR.responseText);
                }
            });

            function line_click(){
                //라인차트
                $.ajax({
                    url: "http://210.117.212.139:5000/getMonths",
                    type: "GET",
                    dataType:"json",
                    cache   : false,
                    success: function(result,status){
                        console.log(result);
                        mon_line_10 = parseInt(result[0][0][0]);
                        mon_line_09 = parseInt(result[0][0][1]);
                        mon_line_08 = parseInt(result[0][0][2]);
                        mon_line_07 = parseInt(result[0][0][3]);
                        mon_line_06 = parseInt(result[0][0][4]);
                        mon_line_05 = parseInt(result[0][0][5]);
                        mon_line_04 = parseInt(result[0][0][6]);
                        mon_line_03 = parseInt(result[0][0][7]);

                        google.charts.load('current', {'packages':['line']});
                        google.charts.setOnLoadCallback(drawChart3);

                    },
                    error: function(jqXHR, status, error){
                        alert("금일발주 건수가 실패하였습니다."+ jqXHR.responseText);
                    }
                });
            }

            function drawChart1() {
                var data = google.visualization.arrayToDataTable([
                    ["Element", "Density", { role: "style" } ],
                    ["10월", ten_mon, "#0047bd"],
                    ["9월", nine_mon, "#64d13e"],
                    ["8월", eight_mon, "#fadf00"],
                    ["7월", seven_mon, "#4dc7fd"],
                    ["6월", six_mon, "#5e53c7"],
                    ["5월", five_mon, "#fc007f"]
                ]);

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                    { calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation" },
                    2]);

                var options = {
                    title: "Density of Precious Metals",
                    height: 350,
                    bar: {groupWidth: "50%"},
                    legend: { position: "none" },
                };
                var chart = new google.visualization.BarChart(document.getElementById("barchart_values11"));
                chart.draw(view, options);
            }


            function drawChart2() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['포모나',  orange_avg],
                    ['아리아',  hongtea_avg],
                    ['칼리스',  milk_avg],
                    ['얼그레이', choco_avg],
                    ['슈가시럽', sinamon_avg]
                ]);

                var options = {

                    is3D: true,
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                chart.draw(data, options);
            }



            function drawChart3() {

                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Month');
                data.addColumn('number', 'old');
                data.addColumn('number', 'new');

                data.addRows([
                    [1,  mon_line_03, mon_line_07],
                    [2,  mon_line_04, mon_line_08],
                    [3,  mon_line_05,   mon_line_09],
                    [4,  mon_line_06, mon_line_10],
                ]);

                var options = {
                    chart: {
                    },
                    width: 1000,
                    height: 450
                };

                var chart = new google.charts.Line(document.getElementById('linechart_material'));

                chart.draw(data, google.charts.Line.convertOptions(options));
            }


        });





    </script>
</th:block>




<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div layout:fragment="content">
    <!-- *************************************************************** -->
    <!-- Start First Cards -->
    <!-- *************************************************************** -->
    <div class="card-group">
        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-dark mb-1 font-weight-medium">10</h2><span style="margin-left:10px;">EA</span>
                        </div>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">총 가맹점 수</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium" id="month_count">18,306</h2>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">총 평균 발주 건수
                        </h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                        <!--                                <span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-dark mb-1 font-weight-medium" id="last_mon_per">1538</h2>
                            <span
                                    class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block" id="last_mon_avg"></span>
                        </div>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">지난 달 평균 재료 발주량</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="file-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <h2 class="text-dark mb-1 font-weight-medium" id="current_store"></h2>
                        <h6 id="current_count"class="text-muted font-weight-normal mb-0 w-100 text-truncate"></h6><h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">실시간 발주</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *************************************************************** -->
    <!-- End First Cards -->
    <!-- *************************************************************** -->
    <!-- *************************************************************** -->
    <!-- Start Sales Charts Section -->
    <!-- *************************************************************** -->
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">재료별 평균 발주량</h4>
                    <!--                            <div id="campaign-v2" class="mt-2" style="height:283px; width:100%;"></div>-->
                    <div id="piechart_3d" style="width:450px; height: 283px;"></div>
                    <ul class="list-style-none mb-0">
                        <li>
                            <i class="fas fa-circle text-primary font-10 mr-2"></i>
                            <span class="text-muted">포모나 총 주문건수</span>
                            <span class="text-dark float-right font-weight-medium" id="coff"></span>
                        </li>
                        <li class="mt-3">
                            <i class="fas fa-circle text-danger font-10 mr-2"></i>
                            <span class="text-muted">아리아 총 주문건수</span>
                            <span class="text-dark float-right font-weight-medium" id="hong"></span>
                        </li>
                        <li class="mt-3">
                            <i class="fas fa-circle text-cyan font-10 mr-2"></i>
                            <span class="text-muted">칼리스 총 주문건수</span>
                            <span class="text-dark float-right font-weight-medium" id="green"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card" data-toggle="modal" data-target="#myModal" id="line_click">
                <div class="card-body">
                    <h4 class="card-title">월별 총 발주 건수</h4>
                    <!--                            <div class="net-income mt-4 position-relative" style="height:294px;"></div>-->
                    <!--                            <div class="mt-4" id="barchart_material" style="width: 100%; height: 294px;"></div>-->
                    <div class="mt-4" id="barchart_values11" style="width: 100%; height: 294px;"></div>
                    <ul class="list-inline text-center mt-5 mb-2">
                        <li class="list-inline-item text-muted font-italic">Sales for this month</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">지점별 발주비율 </h4>
                    <div class="" style="height:180px">
                        <div id="visitbylocate" style="height:100%"></div>
                    </div>
                    <div class="row mb-3 align-items-center mt-1 mt-5">
                        <div class="col-4 text-right">
                            <span class="text-muted font-14">신도림점</span>
                        </div>
                        <div class="col-5">
                            <!--                                    <div class="progress" style="height: 5px;">-->
                            <!--                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"-->
                            <!--                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
                            <!--                                    </div>-->
                            <div class="progress" style="height: 5px;width: 100px">
                                <!--                                            <div class="progress-bar bg-primary" role="progressbar" th:attr="style='width: ${coff_avg}%'"-->
                                <!--                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <svg width="100" height="5">
                                    <!--                                            <rect th:attr="width=${coff_avg}" height="5" style="fill:#1d35a6;"></rect>-->
                                    <rect th:attr="width=${avg_70}" height="5" style="fill:#1d35a6;"></rect>
                                </svg>
                            </div>
                        </div>
                        <div class="text-right">
                            <span class="mb-0 font-12 text-dark font-weight-medium"><span span th:text="${avg_70}"></span>%</span>
                            <!--                                    <span class="mb-0 font-12 text-dark font-weight-medium">80%</span>-->
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <div class="col-4 text-right">
                            <span class="text-muted font-14">구로점</span>
                        </div>
                        <div class="col-5">
                            <div class="progress" style="height: 5px;width: 100px">
                                <svg width="100" height="5">
                                    <!--                                            <rect th:attr="width=${coff_avg}" height="5" style="fill:#1d35a6;"></rect>-->
                                    <rect th:attr="width=${avg_71}" height="5" style="fill:#64d13e;"></rect>
                                </svg>
                            </div>
                        </div>
                        <div class="text-right">
                            <span class="mb-0 font-12 text-dark font-weight-medium"><span span th:text="${avg_71}"></span>%</span>
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <div class="col-4 text-right">
                            <span class="text-muted font-14">야탑점</span>
                        </div>
                        <div class="col-5">
                            <div class="progress" style="height: 5px;width: 100px">
                                <svg width="100" height="5">
                                    <!--                                            <rect th:attr="width=${coff_avg}" height="5" style="fill:#1d35a6;"></rect>-->
                                    <rect th:attr="width=${avg_72}" height="5" style="fill:#4dc7fd;"></rect>
                                </svg>
                            </div>
                        </div>
                        <div class="text-right">
                            <span class="mb-0 font-12 text-dark font-weight-medium"><span th:text="${avg_72}"></span>%</span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4 text-right">
                            <span class="text-muted font-14">분당점</span>
                        </div>
                        <div class="col-5">
                            <div class="progress" style="height: 5px;width: 100px">
                                <svg width="100" height="5">
                                    <!--                                            <rect th:attr="width=${coff_avg}" height="5" style="fill:#1d35a6;"></rect>-->
                                    <rect th:attr="width=${avg_73}" height="5" style="fill:#fc007f;"></rect>
                                </svg>
                            </div>
                        </div>
                        <div class="text-right">
                            <span class="mb-0 font-12 text-dark font-weight-medium"><span th:text="${avg_73}"></span>%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

</html>